@font-face {
	font-family: 'Knockout';
	src: url('/assets/fonts/knockout.eot');
	src: local('knockout'),
		url('/assets/fonts/knockout.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/knockout.woff2') format('woff2'),
		url('/assets/fonts/knockout.woff') format('woff'),
		url('/assets/fonts/knockout.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('/assets/fonts/ProximaNova-LightIt.eot');
	src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
		url('/assets/fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/ProximaNova-LightIt.woff2') format('woff2'),
		url('/assets/fonts/ProximaNova-LightIt.woff') format('woff'),
		url('/assets/fonts/ProximaNova-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('/assets/fonts/ProximaNova-RegularIt.eot');
	src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
		url('/assets/fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/ProximaNova-RegularIt.woff2') format('woff2'),
		url('/assets/fonts/ProximaNova-RegularIt.woff') format('woff'),
		url('/assets/fonts/ProximaNova-RegularIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('/assets/fonts/ProximaNova-Bold.eot');
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('/assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
		url('/assets/fonts/ProximaNova-Bold.woff') format('woff'),
		url('/assets/fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('/assets/fonts/ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('/assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
		url('/assets/fonts/ProximaNova-Regular.woff') format('woff'),
		url('/assets/fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
