<section id="home" ng-include="'/app/home/partials/_banner.html'"></section>

<section id="intro-section" class="light-text dark-blue-bg" ng-include="'/app/home/partials/_intro.html'"></section>

<section class="intro text-center section-padding white-bg" id="intro" ng-include="'/app/home/partials/_about.html'"></section>

<section class="speakers text-center section-padding light-blue-bg" id="speakers" ng-include="'/app/home/partials/_speakers.html'"></section>

<section class="upper quote text-center section-padding" id="quote" ng-include="'/app/home/partials/_quote.html'"></section>

<!-- <section class="upper accomodations text-center section-padding white-bg" id="accomodations" ng-include="'/app/home/partials/_accomodations.html'"></section> -->

<section class="upper verse text-center section-padding" id="verse" ng-include="'/app/home/partials/_verse.html'"></section>

<section class="text-center section-padding contact-wrap dark-blue-bg" id="contact" ng-include="'/app/home/partials/_contact.html'"></section>
