.conf-location {
    margin-bottom: 1em;
}
.pricing-wrap p a {
    color: rgb(0, 109, 187)!important;
}
.pricing-wrap p a:hover, .pricing-wrap p a:active, .pricing-wrap p a:visited {
    color: rgb(0, 159, 237)!important;
}
.block-bg, .block-video-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.15;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.intro-block .container {
    padding: 160px 0;
    z-index: 2;
}
#speakers .nav.nav-justified li a {
    position: relative;
    background-color: transparent;
    border: 0px!important;
    padding-left:0px;
    padding-right:0px;
}
#speakers .nav.nav-justified li a:hover, #speakers .nav.nav-justified li a:focus {
    background-color: transparent;
    border: 0px;
}
#speakers .nav.nav-justified li a > .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #fff;
    border-radius: 15px;
    color: #fff;
}
#speakers .nav.nav-justified li.active a .quote {
    opacity: 1;
}
#speakers .nav.nav-justified li a img {
    box-shadow: 0 0 0 5px #fff;
}
#speakers .nav.nav-justified li a img {
    max-width: 100%;
    opacity: .3;
    -webkit-transform: scale(.6, .6);
    transform: scale(.6, .6);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#speakers .nav.nav-justified li.active a img, #speakers .nav.nav-justified li:hover a img, #speakers .nav.nav-justified li:focus a img {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#speakers .nav.nav-justified li .speaker-name, #speakers .nav.nav-justified li.active:hover a .speaker-name {
    opacity: .0;
    -webkit-transform: scale(.6, .6);
    transform: scale(.6, .6);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#speakers .tab-inner .speaker-name i.fa {
    opacity: .3;
    -webkit-transform: scale(.6, .6);
    transform: scale(.6, .6);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#speakers .nav.nav-justified li:hover a .speaker-name, #speakers .nav.nav-justified li:focus a .speaker-name, #speakers .active .tab-inner .speaker-name a:hover i.fa {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#speakers .tab-pane .tab-inner {
    padding: 30px 0 20px;
}
@media (min-width: 768px) {
    #speakers .nav.nav-justified li a .quote {
        left: auto;
        top: auto;
        right: 0px;
        bottom: 0px;
    }
    .nav-justified > li, .nav-tabs.nav-justified > li {
        display: inline-block;
        /*max-width: 200px;*/
        width:150px;
        /*height:200px*/
        height:100px;
    }
}
