@charset "utf-8";
a, abbr, acronym, address, applet, article, aside, audio, b, big, body, canvas, caption, center, cite, code, sch dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}
h1, h2, h3, h4, h5 {
  font-family: 'ProximaNova', Helvetica;
  font-weight: bold;
}
em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
html {
  /*overflow: hidden*/
}
body {
  background-color: rgb(33, 39, 57);
  color: #7a7a7a;
  font-family: 'ProximaNova', Helvetica;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  overflow-x: hidden
}
a:active, a:hover {
  outline: 0
}
button:focus {
  border: none;
  outline: 0
}
ul {
  list-style: none
}
a, a:hover {
  color: #fff;
  text-decoration: none
}
a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0
}
h1 {
  font-size: 4em;
  /*color: #FFF;*/
  text-transform: uppercase;
}
h2 {
  font-size: 2em;
  margin: .83em 0
}
h3 {
  font-size: 1.17em;
  margin: 1em 0
}
h4 {
  font-size: 1em;
  margin: 1.33em 0
}
h5 {
  font-size: .83em;
  margin: 1.67em 0
}
h6 {
  font-size: .75em;
  margin: 2.33em 0
}
p {
  color: #5f6061;
  font-size: 1.1em;
  line-height: 1.6em
}
.upper {
  text-transform: uppercase;
}
.dark-blue-bg {
  background-color: #212739;
}
.dark-blue {
  color: #212739;
}
.light-blue-bg {
  background-color: #8bd6e5;
  color: #212739;
}
.light-blue-bg .btn {
  border-color: #212739;
  color: #212739;
}
.light-blue-bg .btn:hover {
  background-color: #212739;
  color: #8bd6e5;
  border-color: #8bd6e5;
}
.light-blue-bg hr {
  border-top-color:#212739;
}
.light-blue-bg h1 {
  letter-spacing: 4px;
  font-size: 50px;
  text-transform: uppercase;
}
.light-blue-bg h2 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 28px
}
.light-blue-bg h3 {
  color: black;
  text-transform: uppercase;
}
h3.speaker-name {
  /*font-size: 35px;*/
  font-weight: normal;
  margin-bottom: 0px;
  line-height: 35px
}
h5.speaker-title {
  /*font-size: 20px;*/
  font-weight: bold;
  margin-top: 3px
}
.speakers p {
  font-size: 18px;
  color: black
}
.white-bg {
  background-color: #f3f5f8;
  color: #5f6061;
}
.white-bg a:hover {
  color: #8bd6e5;
}
.light-blue {
  color: #8bd6e5;
}
.btn {
  -moz-user-select: none;
  background-image: none;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  /*line-height: 1.42857;*/
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
}
.btn:hover {
  border: 2px solid #fff;
  background-color: #fff;
}
.white-bg .btn {
  color: #8bd6e5;
  border-color: #8bd6e5;
}
.white-bg .btn:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: #8bd6e5;
}
.btn.large {
  font-size: 18px;
  padding: 8px 20px;
}
.btn.xlarge {
  font-size: 24px;
  padding: 8px 25px;
}
.bottom-spacing {
  margin-bottom: 2.5%
}
.light-text {
  color: #eee;
}
.headline {
  margin-left: 0px!important;
  padding-left: 0px!important;
  font-family: 'ProximaNova', Helvetica;
  font-size: 14.5em;
  text-transform: uppercase;
  color: white;
  margin-top: 20%;
  line-height: 0.9;
  /*border:1px solid green;*/
  /*background: url(/assets/img/layers/madeformore.png) 10px top no-repeat;*/
}

/*.headline:after{
    margin-left:-5px;
}*/

.intro-section-wrapper .location {
  font-size: 20pt;
  letter-spacing: 4pt;
}
.intro-section-wrapper h2 {
  font-size: 30pt;
  margin-bottom: 20px;
  margin-top: 0px;
  letter-spacing: 3pt;
  color: #b8b8b8;
}
.form-control::-webkit-input-placeholder {
  color: #fff
}
.form-control:-moz-placeholder {
  color: #fff
}
.form-control::-ms-input-placeholder {
  color: #fff
}
.form-control::-moz-placeholder {
  color: #fff
}
.preloader {
  background: #101012;
  position: fixed;
  z-index: 110;
  height: 100%;
  width: 100%;
  overflow: hidden!important
}
.status {
  background: url(../img/loading.gif) no-repeat #101012;
  float: none;
  height: 104px;
  left: calc(50% - 100px);
  margin: 0 auto;
  opacity: 1;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  top: calc(50% - 52px);
  width: 100%;
  z-index: 111
}
.section-padding {
  padding-top: 6%;
  padding-bottom: 6%
}
.section-padding#responsive {
  padding-bottom: 0
}
.event-download-social-link.section-padding {
  padding-top: 0
}
.nopadding {
  padding: 0
}
.inner {
  padding-top: 28%
}
hr {
  width: 14%;
  border: 1px solid #8bd6e5;
  margin-top: 18px;
  margin-bottom: 25px
}
.dark-blue-bg hr {
  border-top: 1px solid rgb(0, 152, 238);
  border-bottom: 0px
}
#grid-gallery figcaption hr {
  margin-top: 0;
  margin-bottom: 15px
}
#field_1-button {
  display: none
}
#home {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/*
.home-bg-under {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(0, 174, 255);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.home-bg-over {
  background: url("/assets/img/hero-bg.jpg") no-repeat top center #212739;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.home-bg-over,
.landing-text-pos {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/

@-webkit-keyframes back_animation {
  0% {
    -webkit-transform: scale(1)
  }
  50% {
    -webkit-transform: scale(1.3)
  }
  100% {
    -webkit-transform: scale(1)
  }
}
@-moz-keyframes back_animation {
  0% {
    -moz-transform: scale(1)
  }
  50% {
    -moz-transform: scale(1.3)
  }
  100% {
    -moz-transform: scale(1)
  }
}
@-o-keyframes back_animation {
  0% {
    -o-transform: scale(1)
  }
  50% {
    -o-transform: scale(1.3)
  }
  100% {
    -o-transform: scale(1)
  }
}
@keyframes back_animation {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.3)
  }
  100% {
    transform: scale(1)
  }
}
@-webkit-keyframes front_animation {
  0% {
    -webkit-transform: scale(1);
    text-shadow: 3px 3px 0 #003;
  }
  50% {
    -webkit-transform: scale(1.3);
    text-shadow: 12px 12px 10px #003;
  }
  100% {
    -webkit-transform: scale(1);
    text-shadow: 3px 3px 0 #003;
  }
}
@-moz-keyframes front_animation {
  0% {
    -moz-transform: scale(1);
    text-shadow: 3px 3px 0 #003;
  }
  50% {
    -moz-transform: scale(1.3);
    text-shadow: 12px 12px 10px #003;
  }
  100% {
    -moz-transform: scale(1);
    text-shadow: 3px 3px 0 #003;
  }
}
@-o-keyframes front_animation {
  0% {
    -o-transform: scale(1);
    text-shadow: 3px 3px 0 #003;
  }
  50% {
    -o-transform: scale(1.3);
    text-shadow: 12px 12px 10px #003;
  }
  100% {
    -o-transform: scale(1);
    text-shadow: 3px 3px 0 #003;
  }
}
@keyframes front_animation {
  0% {
    transform: scale(1);
    text-shadow: 3px 3px 0 #003;
  }
  50% {
    transform: scale(1.3);
    text-shadow: 9px 9px 0px #003;
  }
  100% {
    transform: scale(1);
    text-shadow: 3px 3px 0 #003;
  }
}
.acc {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  animate: translateZ(0);
  -webkit-animate: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  backface-visibility: hidden;
  perspective: 1000;
}
#title_hr {
  border: 1px solid rgb(0, 139, 217);
  margin: 1.8em auto 2.9em;
  width: 50px
}
.landing-text-pos {
  position: absolute;
  top: 35%;
  width: 100%;
  z-index: 2
}
.landing-text-pos h1 {
  animation: 60s ease 0s normal none 2 front_animation;
  font-size: 4.5em;
  font-weight: 700;
  letter-spacing: .2em;
  text-transform: uppercase;
  padding: 0 10%;
  text-shadow: 3px 3px 0 #003;
  position: relative;
  color: #008AD5;
}
.landing-text-pos p {
  color: #fff;
  font-size: 2em!important;
  letter-spacing: .2em;
  line-height: 1.5em;
  padding: 0 20%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  /*-webkit-text-stroke: 1px black;*/
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666, 1px 1px 0 #666;
}
.learn-more-btn {
  background: rgba(37, 147, 184, 1);
  color: #363738;
  display: block;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: .2em;
  margin: 1.9em 10px;
  padding: 15px;
  text-transform: uppercase;
}
.learn-more-btn.blue {
  background: rgba(27, 124, 206, 1);
}
.align-center {
  margin: 0 auto;
  overflow: hidden;
  display: block;
  clear: both;
  text-align: center;
  float: none;
  padding-bottom: 2px;
}
.header {
  width: 100%;
  position: fixed;
  z-index: 3;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateZ(0)
}
.scroll-header {
  background: #0f1726
}
#example-navbar-collapse {
  float: right
}
.navbar.navbar-default {
  background: none;
  border: 0;
  border-radius: 0;
  margin-bottom: 0
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #fff;
  font-family: 'ProximaNova', Helvetica;
  ;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: .2em;
  text-transform: uppercase
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #2e3e4f;
  border-top: none
}
.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  float: right;
  margin-bottom: 8px;
  margin-right: 0;
  margin-top: 8px;
  padding: 9px 12px;
  position: relative
}
.navbar-nav>li>a {
  padding-bottom: 27.55px;
  padding-top: 27.5px
}
body {
  position: relative
}
.navbar-default .navbar-nav>li.active>a {
  color: rgba(37, 147, 184, 1)
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background: 0 0;
  color: rgba(37, 147, 184, 1)
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: transparent;
  color: rgba(37, 147, 184, 1)
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: 0 0
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #fff
}
.navbar-brand {
  height: 100%
}
#bs-navbar-collapse {
  float: right
}
.intro {
  background: #f3f5f8
}
.about p {
  margin-bottom: 0
}
h1.arrow {
  color: #363738;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: .2em;
  text-transform: uppercase
}
#intro-section {
  /*background: #8bd6e5;*/
  /*position:absolute;*/
  width: 100%;
  min-height: 300px;
  padding-bottom: 100px;
  padding-top: 100px;
  margin: 0px;
  /*margin-top:150px;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1.title {
  font-size: 4.7em;
  margin-bottom: 0px;
  letter-spacing: 3pt;
  line-height: 65pt
}
.intro-section-wrapper p {
  color: white;
  font-size: 1.1rem;
}
.features-wrapper {
  padding: 50px 0
}
.icon {
  font-family: 'ProximaNova', Helvetica;
  ;
  display: block;
  color: #fff;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0 auto 10px;
}
.features .row {
  margin: 0
}
.features p {
  color: #f9f9f9
}
.features h2 {
  color: rgb(0, 152, 238);
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: .2em;
  text-transform: uppercase;
  margin: .83em 0
}
.features {
  background: #212739;
}
.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 1
}
.grid figure section {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.grid figure figcaption::after, .grid figure section::before {
  pointer-events: none
}
figure.vimeo-video {
  background: url(../img/video.jpg) center center/cover no-repeat rgba(0, 0, 0, 0)
}
figure.psp-promo-1 {
  background: url(/assets/img/introvideoplaceholder.jpg) left center/cover no-repeat rgba(0, 0, 0, 0)
}
figure.psp-promo-2 {
  background: url(http://img.youtube.com/vi/h6a-uSBHu9A/1.jpg) center center/cover no-repeat rgba(0, 0, 0, 0)
}
.block-hover {
  background: url(../img/gallery/gallery.jpg) center center/cover no-repeat;
  height: 324px;
  -webkit-transition: background .2s;
  -moz-transition: background .2s;
  -o-transition: background .2s;
  -ms-transition: background .2s;
  transition: background .2s
}
.block-hover img {
  -webkit-transition: opacity .35s;
  transition: opacity .35s
}
.block-hover:hover {
  background: rgb(0, 139, 217);
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -o-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s
}
.block-hover:hover span {
  opacity: 1;
  text-align: center;
  width: 100%
}
.block-hover a {
  display: block;
  height: 81px;
  left: calc(50% - 155px);
  position: absolute;
  top: calc(50% - 40.5px);
  width: 310px;
  -webkit-transition: opacity .35s;
  transition: opacity .35s
}
.block-hover span {
  color: #fff;
  font-size: 1.5em;
  left: 0;
  letter-spacing: .1em;
  opacity: 0;
  position: absolute;
  top: 25px
}
.block-hover:hover img {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s
}
.grid-gal figure.3d-gallery {
  background: url(../assets/img/gallery/gallery.jpg) 0 0/cover no-repeat
}
.md-close {
  position: absolute;
  right: 10px;
  top: 10px
}
.class-options {
  position: relative;
}

/*
.class-options-bg {
  background: url("http://res.cloudinary.com/pspclass/image/fetch/w_1920,q_70,c_fit,f_auto/http://perspectives-urbana.org/assets/img/layers/speakersbg.jpg") no-repeat bottom center rgba(21, 27, 39, 1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}*/

.speakers-wrap {
  padding: 4% 0 0
}
ul.social-buttons {
  list-style: none;
  margin: 0;
  padding: 0
}
ul.social-buttons li {
  display: inline-block;
  margin-right: 10px
}
ul.social-buttons li:last-child {
  margin-right: 0
}
.social-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  background: #212739;
  display: inline-block;
  color: #fff;
  line-height: 46px;
  text-align: center
}
.social-btn i {
  font-size: 1.2em;
  line-height: inherit
}
.social-btn:focus, .social-btn:hover {
  background: rgb(0, 152, 238);
  color: #fff
}
blockquote {
  margin: .5em 20px .5em 0
}
blockquote p {
  font-size: .8em;
  line-height: 1.5em
}
.social {
  margin-top: 25px
}
.class-options p {
  color: #f9f9f9
}
.class-options h2 {
  color: rgb(0, 152, 238);
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: .2em;
  margin: .83em 0;
  text-transform: uppercase
}
.class-options h1 {
  color: #fff
}
.class-options .md-content {
  padding: 0
}
.sp-name {
  text-align: center
}
.md-effect-9.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px
}
.md-effect-9 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
  -moz-transform: rotateX(-70deg);
  -ms-transform: rotateX(-70deg);
  transform: rotateX(-70deg);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  opacity: 0
}
.md-show.md-effect-9 .md-content {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1
}
.sp-dsc blockquote p {
  margin: 0;
  color: #5f6061
}
.sp-dsc blockquote {
  border-left-color: rgb(0, 152, 238)
}
.folio {
  max-width: 800px;
  height: auto;
  text-align: center;
  padding: 30px
}
.md-content ul{
  margin-top:0px!important
}
.tnc-folio {
  height: auto;
  text-align: center
}
.sp-name {
  border-bottom: solid 1px rgba(33, 39, 57, .15);
  margin-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: .8em;
  color: rgb(0, 152, 238)
}
.sp-dsc {
  border-bottom: solid 1px rgba(33, 39, 57, .15);
  margin-top: 20px;
  text-align: left;
  padding: 0 0 30px;
  font-size: 1.1em;
  color: 939393
}
.sp-dsc p{
  font-size:0.9em;
}
.md-content .sp-social ul {
  text-align: center
}
.sp-social ul li {
  display: inline-block
}
.btn-effect {
  background: rgb(0, 139, 217);
  border: none;
  color: #fff;
  letter-spacing: .2em;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  z-index: 1;
  cursor: pointer;
  position: relative
}
.pricing-wrap .btn-effect {
  background: #fff
}
.btn-effect:after {
  background: #000;
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  content: "";
  position: absolute;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s
}
.btn-effect:active:after, .btn-effect:hover:after {
  height: 100%
}
#get_directions.btn-effect {
  background: rgb(0, 139, 217);
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  letter-spacing: .2em;
  margin-bottom: 45px;
  margin-top: 0;
  position: relative;
  transition: all .3s ease 0s;
  width: 230px;
  z-index: 1
}
#get_directions.btn-effect:after {
  background: #000;
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  content: "";
  position: absolute;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s
}
#get_directions.btn-effect:active:after, #get_directions.btn-effect:hover:after {
  height: 100%
}
#get_directions.btn-effect i {
  display: none;
  font-size: 1.75em
}
#get_directions.btn-effect:hover span {
  display: none
}
#get_directions.btn-effect:hover i {
  display: block
}
#responsive {
  background-color: #fff
}
.name {
  text-transform: none;
  font-weight: 500;
  margin-right: 5px
}
.speaker-designaition {
  cursor: pointer;
  font-weight: 300;
  letter-spacing: .1em;
  text-align: left;
  text-transform: none
}
.a-name {
  color: #212739;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 6px;
  font-weight: 500
}
.day {
  color: rgb(0, 152, 238);
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: .2em;
  padding-bottom: 35px;
  text-transform: uppercase
}
.accordion {
  overflow: hidden;
  margin: 34px auto 0
}
.accordion .item .heading {
  cursor: pointer;
  color: #fff;
  box-sizing: border-box
}
.accordion .item .heading .e-title {
  background: url(../img/arrow.png) right 0 no-repeat;
  border-top: 1px solid rgba(33, 39, 57, .15);
  box-sizing: border-box;
  color: #212739;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: .9em;
  font-weight: 300;
  letter-spacing: .1em;
  padding: 15px 15px 15px 0;
  text-align: left;
  text-transform: uppercase
}
.accordion .item .heading .time {
  border-top: 4px solid rgba(33, 39, 57, .15);
  box-sizing: border-box;
  color: rgb(0, 139, 217);
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 1.1em;
  font-weight: 500;
  padding: 15px 0;
  text-align: left
}
.accordion .item .col-md-12 {
  padding: 0
}
.accordion .item.open .heading, .accordion .item:last-child .heading {
  border: 0
}
.accordion .item.open .time {
  color: rgb(0, 139, 217)
}
.accordion .item.open .heading .e-title {
  background-position: right 0 top 10px
}
.accordion .item .content {
  color: #5f6061;
  display: none;
  font-size: .8em;
  line-height: 25px;
  text-align: left
}
.details {
  padding: 20px 0;
  border-top: dotted 1px rgb(0, 139, 217)
}
.venue {
  padding: 20px 0
}
.d-sch {
  background: url(../img/dicn.png) right 30px no-repeat;
  display: inline-block;
  float: left;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 6px;
  padding: 25px 80px;
  text-transform: uppercase;
  width: 50%
}
.fb {
  background: url(../img/fbicn.png) left 30px no-repeat;
  border-left: 1px solid #c8c8c8;
  display: inline-block;
  float: left;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 6px;
  padding: 25px 80px;
  text-align: left;
  text-transform: uppercase;
  width: 50%
}
.accordion .item.open .e-title, .d-sch:hover, .fb:hover {
  color: rgb(0, 139, 217)
}
.container-schedule {
  position: relative;
  width: 100%;
  padding: 0
}
#quote {
  background: url('http://res.cloudinary.com/pspclass/image/fetch/w_1600,q_70,c_fit,e_blur:400/f_jpg/http://conference.perspectives.org/assets/img/baltimore.png') center center/cover no-repeat fixed;
  font-family: 'ProximaNova', Helvetica;
  transition: 0.5s linear;
  transition-property: background-position;
  transform: translate3d(0, 0, 0);
}
#quote h2 {
  font-size: 4em;
  color: white;
}
#verse {
  background: url(http://res.cloudinary.com/pspclass/image/fetch/c_fit,f_auto/http://conference.perspectives.org/assets/img/hero-bg.jpg) center center/cover no-repeat fixed #64c8dc;
  font-family: 'ProximaNova', Helvetica;
  transition: 0.5s linear;
  transition-property: background-position;
  transform: translate3d(0, 0, 0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.quote img, .verse img {
  width: 90px;
}
#quote h3, #verse h3 {
  color: #fff;
  /*text-transform: uppercase;*/
  font-size: 2.5em;
  /*line-height: 1.2;*/
}
.accomodations img {
  /*width:200px;*/
}
.accomodations.section-padding, .pricing.section-padding {
  padding-top: 3%;
  padding-bottom: 3%;
}
.accomodations h1 {
  /*color: #fff;*/
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

/*.accomodations h1 span {
    display: block;
    font-size: 1rem;
    margin-top: 20px
}*/

.accomodations .learn-more-btn {
  padding: 12px;
}
.accomodations p {
  display: block;
  font-size: 1.1rem;
  margin-top: 20px;
  /*color: white;*/
  /*    text-transform: uppercase;*/
  /*    -webkit-text-stroke: 1px black;*/
  /*    font-weight:bold;*/
}
.down-arrow-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  background: rgba(27, 130, 217, .4);
  display: inline-block;
  margin: 10px auto 20px;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  text-align: center
}
.down-arrow-btn:focus, .down-arrow-btn:hover {
  color: #fff;
  background: rgba(27, 130, 217, 1)
}
.nl-form {
  width: 100%;
  margin: 6% auto;
  font-size: 2.5em;
  color: #fff;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 1px
}
.nl-form ul {
  list-style: none;
  margin: 0;
  padding: 0
}
.nl-form button, .nl-form input, .nl-form select {
  border: none;
  background: 0 0;
  display: inline-block;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none
}
.nl-form input:focus {
  outline: 0
}
.nl-field-toggle, .nl-form input, .nl-form select {
  line-height: inherit;
  display: inline-block;
  color: rgb(0, 139, 217);
  cursor: pointer;
  border-bottom: 1px dashed #567a69
}
.nl-form .nl-field-go {
  position: absolute;
  right: 0;
  top: calc(29%);
  height: 100%;
  cursor: pointer;
  width: 1.8em;
  text-align: center;
  color: transparent
}
.nl-field-go:before {
  content: "Enter";
  font-size: 55%;
  width: 100%;
  display: block
}
.nl-form .nl-submit {
  background: rgb(0, 139, 217);
  color: #fff;
  cursor: pointer;
  font-size: .4em;
  font-weight: 600;
  letter-spacing: .2em;
  padding: 12px;
  position: relative;
  text-transform: uppercase;
  width: 200px
}
.no-touch .nl-form .nl-submit:active, .no-touch .nl-form .nl-submit:hover {
  background: rgba(27, 206, 124, .4);
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  color: #fff
}
.no-touch .nl-form .nl-submit:hover:before {
  background: #58a199
}
.nl-field {
  display: inline-block;
  position: relative
}
.nl-field.nl-field-open {
  z-index: 10000
}
.nl-field ul {
  position: absolute;
  visibility: hidden;
  background: #212639;
  left: -.5em;
  top: 150%;
  font-size: 70%;
  opacity: 0;
  -webkit-transform: translateY(-40%) scale(0.9);
  -moz-transform: translateY(-40%) scale(0.9);
  transform: translateY(-40%) scale(0.9);
  -webkit-transition: visibility 0s .3s, opacity .3s, -webkit-transform .3s;
  -moz-transition: visibility 0s .3s, opacity .3s, -moz-transform .3s;
  transition: visibility 0s .3s, opacity .3s, transform .3s
}
.nl-field.nl-field-open ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-transition: visibility 0s 0s, opacity .3s, -webkit-transform .3s;
  -moz-transition: visibility 0s 0s, opacity .3s, -moz-transform .3s;
  transition: visibility 0s 0s, opacity .3s, transform .3s
}
.nl-field ul li {
  color: #fff;
  position: relative
}
.nl-dd ul li {
  padding: 0 1em;
  cursor: pointer;
  white-space: nowrap
}
.nl-dd ul li.nl-dd-checked {
  color: rgb(0, 152, 238);
  opacity: .6
}
.no-touch .nl-dd ul li:hover {
  background: rgba(0, 0, 0, .05)
}
.no-touch .nl-dd ul li:hover:active {
  color: #478982
}
.nl-submit-wrap {
  margin: 1em auto 0
}
.nl-dd ul li.nl-dd-checked:before, .nl-field-go:before, .nl-submit:before {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  color: rgb(0, 152, 238)
}
.nl-ti-text ul {
  min-width: 8em
}
.nl-ti-text ul li.nl-ti-input input {
  width: 100%;
  padding: .2em 2em .2em .5em;
  border-bottom: none;
  color: #fff;
  font-size: .9em
}
.nl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: visibility 0s .3s, opacity .3s;
  -moz-transition: visibility 0s .3s, opacity .3s;
  transition: visibility 0s .3s, opacity .3s
}
.nl-field.nl-field-open~.nl-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s
}
.nl-ti-text ul li.nl-ti-example {
  font-size: 50%;
  padding: .4em 1em;
  color: #fff;
  border-top: 1px dashed rgba(46, 62, 79, 1)
}
.nl-ti-text ul li.nl-ti-example em {
  color: #fff
}
a {
  color: #212639;
  text-decoration: none
}
.tc {
  margin-bottom: 6%;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px
}
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 930px;
  min-width: 320px;
  height: auto;
  overflow:auto;
  max-height:100%;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%)
}
.md-modal.md-show {
}
.md-show {
  visibility: visible
}
.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0, 0, 0, .8);
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  transition: all .7s
}
.md-show~.modal-backdrop {
  opacity: 1;
  visibility: visible
}
.md-content {
  color: #212639;
  background: #fff;
  position: relative;
  margin: 0 auto;
  padding: 25px
}
.md-content h3 {
  margin: 0;
  text-align: center;
  color: rgb(0, 152, 238);
  font-size: 1.3em;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: 700
}
.md-content>div {
  margin: 0;
  font-weight: 300;
  font-size: 1.15em;
  text-align: left
}
.md-content>div ul {
  margin-top: 30px;
  padding: 0 20px
}
.md-content>div ul li {
  list-style-type: disc;
  padding-left: 15px
}
.disclaimer {
  margin: 0
}
.padding-none {
  padding: 0
}
.disclaim-border {
  border: none
}
.md-content button {
  display: block;
  margin: 0 auto;
  font-size: 1em;
  background-color: transparent;
  border: none;
  cursor: pointer
}
.md-trigger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(0, 139, 217);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  font-size: 1em
}
.md-trigger:hover {
  color: rgba(255, 255, 255, 1)
}
.md-effect-10.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px
}
.md-effect-10 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-60deg);
  -moz-transform: rotateX(-60deg);
  -ms-transform: rotateX(-60deg);
  transform: rotateX(-60deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  opacity: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s
}
.md-show.md-effect-10 .md-content {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  padding: 35px
}
.pricing-wrap {
  margin-top: 38px
}
#pricing {
  background-color: #fff;
}
.planContainer {
  background-color: #F3F5F8;
  margin-top: 10px;
}
.planContainer .options {
  min-height: 200px;
}
.planContainer .title h2 {
  background-color: #212739;
  color: #fff;
  font-size: 3em;
  font-weight: 600;
  margin: 0;
  padding: .6em 0
}
.planContainer .title h2.bestPlanTitle {
  background: rgb(0, 139, 217);
  color: #212639
}
.planContainer .price p {
  background: #2a3049;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  height: 2.6em;
  letter-spacing: 3px;
  line-height: 2.6em;
  margin: 0 0 1em;
  text-transform: uppercase
}
.planContainer .price p.bestPlanPrice {
  background: rgb(0, 150, 245);
  color: #212639
}
.planContainer .options {
  margin-top: 30px;
  padding: 10px;
}
.planContainer .options li {
  color: #212639;
  line-height: 2
}
.planContainer .button a {
  text-transform: uppercase;
  text-decoration: none;
  color: #212739;
  font-weight: 700;
  line-height: 2.6em;
  display: inline-block;
  width: 80%;
  height: 2.8em;
  margin: 1.5em 0 1.8em
}
.planContainer .button a.bestPlanButton {
  color: #212639;
  background: rgb(0, 139, 217)
}
ul.planContainer li.title {
  margin-bottom: 0
}
.effects {
  padding-left: 15px
}
.effects .img {
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
  overflow: hidden
}
.effects .img:nth-child(n) {
  margin-right: 5px
}
.effects .img:first-child {
  margin-left: -15px
}
.effects .img:last-child {
  margin-right: 0
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  height: auto
}
.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(27, 130, 217, 1);
  overflow: hidden;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s
}
a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer
}
a.close-overlay.hidden {
  display: none
}
button.expand {
  display: block;
  position: absolute;
  z-index: 100;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: .2em;
  text-transform: uppercase;
  line-height: 30px;
  margin-top: 28%;
  left: 0;
  width: 100%
}
.overlay-effect .img i {
  font-size: 30px
}
.overlay-effect .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}
.overlay-effect .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 47%;
  margin: 0 auto -30px
}
.overlay-effect .img.hover .overlay {
  height: 100%;
  opacity: 1
}
.img img {
  width: -webkit-calc(100% + 40px)!important;
  width: calc(100% + 40px)!important;
  -webkit-transition: opacity .35s, -webkit-transform .35s;
  transition: opacity .35s, transform .35s;
  -moz-transition: opacity .35s, -moz-transform .35s;
  -o-transition: opacity .35s, -o-transform .35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
  -ms-transform: translate3d(-40px, 0, 0)
}
.img:hover img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(-40px, 0, 0)
}
.designs {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50px
}
ul.slides li {
  margin-bottom: 15px
}
.ignite-cta {
  background-color: #fff
}
.ignite-btn {
  display: inline-block;
  padding: 25px 40px;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px
}
.ignite-btn:focus, .ignite-btn:hover {
  color: #3dc9b3;
  border: 1px solid #3dc9b3
}
.sponsor {
  margin-top: 60px
}
#slider1_container {
  position: relative;
  top: 0;
  left: 0;
  width: 980px;
  height: 56px;
  overflow: hidden;
  margin: 3% auto 0
}
.inner_carousal {
  cursor: move;
  position: absolute;
  left: 0;
  top: 0;
  width: 980px;
  height: 100px;
  overflow: hidden
}
ul.planContainer:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04)
}
.planContainer .button a, ul.planContainer {
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s
}
.planContainer .button a:hover {
  background: #212739;
  color: #fff
}
.planContainer a.bestPlanButton:hover {
  background: #1B7CCE;
  color: #fff
}
.fa-check-circle, .fa-exclamation-circle, .fa-spin, .fa-spinner {
  display: none
}
.subscribe {
  background: 0 0/cover fixed rgba(0, 0, 0, .6);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 70px 0;
  position: relative
}
.subscribe h1 {
  color: #fff;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px
}
.subscribe h1 span {
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 1px
}
.input-group {
  display: table!important
}
.form-control.email-add {
  border: none;
  border-radius: 0;
  height: 51px;
  text-align: center;
  width: 100%;
  background: none;
  border-bottom: 1px solid #fff;
  box-shadow: none;
  color: #fff
}
.subscribe-overlay {
  background: url(../img/macbook.jpg) center center/cover no-repeat fixed;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1
}
.subscribe button {
  background: 0 0;
  border: none;
  border-radius: 0;
  color: rgb(0, 152, 238);
  font-size: 16px;
  font-weight: 600;
  height: 35px;
  letter-spacing: 6px;
  margin-top: 15px;
  text-transform: uppercase;
  width: 67px;
  position: relative
}
.subscribe button:hover {
  background: 0 0;
  border: none;
  color: rgb(0, 152, 238)
}
.subscribe button:focus {
  outline: 0;
  border: 0;
  background: 0 0;
  color: rgb(0, 152, 238)
}
.subscribe button span {
  display: block;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s
}
.subscribe button:hover span {
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s
}
.subscribe button:hover i {
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s
}
.subscribe button i {
  font-size: 1.5em;
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: 14px;
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s
}
.notify-success #message {
  color: rgb(0, 152, 238);
  font-size: 1.1em;
  margin-top: 10px;
  text-transform: capitalize
}
.error #message {
  color: #EC7406;
  font-size: 1.1em;
  margin-top: 10px;
  text-transform: capitalize
}
#contact p, #contact p a {
  color: #fff
}
#result .success {
  color: rgb(0, 152, 238);
  font-size: .43em;
  text-transform: capitalize;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 15px
}
.success {
  color: rgb(0, 152, 238);
  text-align: center;
  left: 0;
  margin-top: 15px
}
.enter-email, .enter-name, .invalid-email {
  color: #EC7406;
  font-size: .43em;
  text-transform: capitalize;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 15px
}
.up-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  background: rgba(27, 206, 124, .5);
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: absolute;
  top: -26px;
  left: 0;
  right: 0
}
.up-btn:hover, up-btn:focus {
  color: #fff
}
.contact-details {
  margin: 70px 0 60px
}
.contact-details h2 span {
  color: rgb(0, 152, 238);
  display: block;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: .2em;
  margin-top: 15px;
  text-transform: uppercase
}
.contact-wrap {
  background-color: #212739;
  position: relative
}
.contact-wrap h1 {
  color: #fff
}
.dark-bg {
  background: #212739
}
.light-bg {
  background-color: #fff
}
.dark-box {
  background: #f3f5f8;
  -webkit-box-shadow: 0 3px 0 0 #f0f2f4;
  -moz-box-shadow: 0 3px 0 0 #f0f2f4;
  box-shadow: 0 3px 0 0 #f0f2f4
}
.light-box {
  -webkit-box-shadow: 0 -1px 0 0 rgb(0, 152, 238);
  -moz-box-shadow: 0 -1px 0 0 rgb(0, 152, 238);
  box-shadow: 0 -1px 0 0 rgb(0, 152, 238);
  padding: 20px 0
}
.light-box:focus, .light-box:hover {
  -webkit-box-shadow: 0 5px 0 0 rgb(0, 152, 238);
  -moz-box-shadow: 0 5px 0 0 rgb(0, 152, 238);
  box-shadow: 0 5px 0 0 rgb(0, 152, 238)
}
.box-hover {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out
}
.box-hover:focus, .box-hover:hover {
  transform: translate(0, -15px);
  -webkit-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px)
}
footer a {
  color: #a1a9b0
}
footer {
  background-color: #000;
  padding: 25px 0
}
footer p {
  color: #fff
}
ul.legals {
  list-style: none;
  color: #fff;
  line-height: 25px
}
.legals .md-trigger {
  padding-right: 10px
}
ul.legals li {
  display: inline-block
}
ul.legals li::after {
  content: " |";
  margin-right: 10px
}
ul.legals li:last-child::after {
  content: ""
}
.legals {
  text-align: center
}
.disclaimer p {
  color: #5f6061;
  font-size: .95em;
  line-height: 1.6em;
  margin-top: 30px
}
#modal-10 li {
  margin-bottom: 20px
}
.ui-select {
  display: none
}
.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
  display: inline
}
.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
  display: none
}
#promo-video-wrapper {
  padding-top: 50px
}
#banner-badge {
  width: 180px
}
.slogan {
  color: #fff;
  text-transform: none;
  text-shadow: 3px 3px 0 #003;
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.45);
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 1px;
  font-size: 15rem;
  line-height: 15rem;
  font-family: 'ProximaNova', Helvetica;
  margin: 0px;
}
h1.slogan span {
  font-size: .8em;
}
.tagline {
  font-size: 4rem;
  line-height: 46px;
  font-family: 'knockout';
  font-weight: lighter;
}
.play-button {
  background: url(/assets/img/play-icon.png) center center/cover no-repeat;
  margin-top: 20px;
  display: inline-block;
  width: 375px;
  height: 157px;
}
#play-intro-video {
  margin-top: 50px;
  /*margin-left: -35px;*/
  font-size: 1.5vw;
  text-transform: uppercase;
  color: #fff;
}
#play-intro-video a {
  color: #fff;
}
#play-intro-video a:hover {
  color: #fff;
}
#play-intro-video img {
  width: 30%
}

/*.top_line {
    height: 3px;
    background-color: #7DAF27;
}*/

#minimal-intro {
  background: url(http://res.cloudinary.com/pspclass/image/fetch/c_fit,f_auto/http://conference.perspectives.org/assets/img/hero-bg.jpg) no-repeat top center #64c8dc;
  transition: 0.5s linear;
  transition-property: background-position;
  transform: translate3d(0, 0, 0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
