<div id="headerMenu" class="header header-hide">
    <div class="top_line"></div>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation" easing="easeInOutCubic" offset="1000">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href scroll-to="home">
                    <img src="assets/img/logo.png" alt="logo" height="40px"></a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href scroll-to="intro-section"><i class="fa fa-download" aria-hidden="true"> </i> Conference Materials</a>
                    </li>
                    <li>
                        <a href scroll-to="intro">Vision</a>
                    </li>
                    <li>
                        <a href scroll-to="speakers">Speakers</a>
                    </li>
                    <li>
                        <a href scroll-to="quote">Location</a>
                    </li>
                    <!-- <li>
                        <a href scroll-to="accomodations">Accommodations</a>
                    </li> -->
                    <li>
                        <a href scroll-to="contact" style="">Contact</a>
                    </li>
                    <li class="hidden">
                        <a href="#home">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
