<div class="container wow animated fadeInLeft animated" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="row">
    <div class="col-lg-11 align-center about">
      <h1 class="arrow">Vision and Motivation</h1>
      <hr>
      <h3>Our goal is to gather 600 Perspectives workers from across to country and see God lifted up and exalted through the ministry of Perspectives. It’s his ministry.</h3>
      <p>Inspiring leaders and speakers will share with us about the History of the
        <em>Unreached People Groups Era, Our Identity as Mobilizers, Awakening of the Body of Christ, Our Goals and Roles</em>, and
        <em>Loving One another in Christ</em>.
      </p>
      <br>
      <p>The objective is to elevate what God is doing throughout this era of missions, inclusive of the Perspectives family, from the individual coordinator to the national director and to the organizations that our alumni impact. There is a dynamic tension
        between structure that empowers and grassroots initiative, the entire Perspectives family must not only partner together to solve operational challenges but also partner with God for the sake of his larger purposes for Perspectives in the body
        of Christ.</p>
      <p>
        <br>
        <br> If you would like to be notified about additional conference details and periodic email updates, please click the button below.</p>
    </div>
    <br>
    <br>
    <div class="align-center col-md-9">
      <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <a class="btn btn-default large btn-block" target="_blank" href="http://perspectives.us9.list-manage.com/track/click?u=7bde97d3bc8279c220c558856&id=bd148014a3&e=849d420c17"><i class="fa fa-envelope-o"></i> SEND ME UPDATES</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-default large btn-block" target="_blank" href="/assets/content/conference-faqs.pdf"><i class="fa fa-file-pdf-o"></i> VIEW FAQ</a>
      </div>
    </div>
    </div>
    <br />
  </div>
</div>
