<div class="container">
  <h1>Accommodations</h1>
  <p>Contact the following hotels for conference rates on rooms.</p>
    <br>
    <br>
    <a class="btn btn-default large" target="_blank" href="/assets/content/hotel-details.docx">
      <i class="fa fa-file-word-o"> </i>&nbsp;&nbsp;More Details</a>
  <div class="col-xs-12 align-center">
    <br>
    <hr>
    <br>
    <div class="col-md-4 ">
      <a target="_blank" href="https://goo.gl/xgcY4k"><img src="/assets/img/hotel-icon.png" width="125px" /></a>
      <h2><a target="_blank" href="https://goo.gl/xgcY4k">Holiday Inn</a></h2>
      <p class="wow animated fadeInUp" style="min-height:90px" data-wow-duration="1s" data-wow-delay="1s">
        9615 Deereco Rd
        <br> Timonium, MD 21093​
      </p>
    </div>
    <div class="col-md-4">
      <a target="_blank" href="http://goo.gl/WZuNEz"><img src="/assets/img/hotel-icon.png" width="125px" /></a>
      <h2>​​<a target="_blank" href="http://goo.gl/WZuNEz">Hampton Inn & Suites </a></h2>
      <p class="wow animated fadeInUp" style="min-height:90px" data-wow-duration="1s" data-wow-delay="1s">
        11 Texas Station Court
        <br> Timonium, MD 21093
      </p>
    </div>
    <div class="col-md-4">
      <a target="_blank" href="https://goo.gl/maps/jpwFnGbpeRM2"><img src="/assets/img/hotel-icon.png" width="125px" /></a>
      <h2><a target="_blank" href="https://goo.gl/maps/jpwFnGbpeRM2">Red Roof Inn </a></h2>
      <p class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
        ​​111 W Timonium Rd
        <br> Lutherville-Timonium, MD 21093
        <br>
        <br>
        <strong>C​all:</strong> ​1-800-733-7663​
        <br>
        <strong>RSVP Code:</strong>​ B209PNC713​
      </p>
    </div>
  </div>
</div>
