<header id="minimal-intro" class="intro-block bg-color-main autoheight align-center" style="min-height: 1044px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img id="banner-badge" src="http://res.cloudinary.com/pspclass/image/fetch/w_343,q_70,c_fit,f_auto/http://conference.perspectives.org/assets/img/header-badge.png" />
        <h1 class="slogan" ng-show="!video.show">elevate</h1>
        <br>
        <br>
        <div class="upper dark-blue tagline">Climbing Higher. Pressing Further</div>
        <div id="play-intro-video">
            <br>
          <a href="" ng-click="video.play()">
            <img src="/assets/img/play-icon.png" /><br><br>
            Watch the Video
          </a>
        </div>
      </div>
    </div>
  </div>
  <div style="position: absolute; z-index:99; top:0px; width: 100%; height: 100%" ng-show="video.show">
    <div id="intro-video"></div>
  </div>
</header>
