<div class="container">
  <div class="row">
    <div class="col-md-8 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
      <h1 class="arrow">
                            Contact
                        </h1>
      <hr>
      <p>
        We'd love to hear from you! Please feel free to call us or send us an email:
      </p>
    </div>
  </div>
  <div class="row contact-details">
    <div class="col-md-6 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.9s">
      <div class="light-box box-hover">
        <h2>
                                <span>General Inquiries</span>
                            </h2>
        <p>
          Phone: <a href="tel:6263982198">(626) 398-2198</a>
          <br> Email: <a href="#">national.conference@perspectives.org</a>
        </p>
      </div>
    </div>
    <div class="col-md-6 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.7s">
      <div class="light-box box-hover">
        <h2>
                                <span>Exhibiting Information</span>
                            </h2>
        <p>
          Phone: <a href="tel:18887773806">(888) 777-3806</a>
          <br> Email: <a href="#">stan.freyenberger@perspectives.org</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row  text-center">
    <a id="get_directions" class="learn-more-btn btn-effect hide" href="#"><i class="fa fa-map-marker"></i><span>Get Directions</span></a>
  </div>
</div>
