<div class="container">
  <div class="row">
    <div class="features-wrapper">
      <div class="col-md-6 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
        <div class="icon">
          7
        </div>
        <h2>Plenary Sessions</h2>
        <p>
          Over 250 classes are held every year across the U.S.
        </p>
      </div>
      <div class="col-md-6 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
        <div class="icon">
          Breakout Session
        </div>
        <h2>U.S. Alumni</h2>
        <p>
          Over 200,000 students have completed the Perspectives course in the U.S.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
