<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="intro-section-wrapper">
                <div class="col-md-12 wow animated fadeInUp text-center" data-wow-duration="1s" data-wow-delay="0.9s">
                    <h2>THANK YOU FOR JOINING US FOR THE</h2>
                    <h1 class="title">2016 National Conference</h1>
                    <p class="location" style="font-size:18px; letter-spacing:2pt">
                      We had an amazing week and saw God elevated in amazing ways! <br />You can download post-conference materials, photos, and breakout session documents below.
                    </p>
                    <br>
                    <br>
                    <br>
                    <br />
                    <div class="row ">
                        <p class="col-md-5 col-md-offset-2">
                          <a class="btn large btn-default btn-block" target="_blank" href="https://drive.google.com/folderview?id=0B_qK_hAi7JjDLUxsZG1uLVBGNDQ&usp=sharing"><i class="fa fa-download" aria-hidden="true"> </i> Conference Materials & Resources</a>
                            <br>
                        </p>
                        <div class="col-md-3">
                          <a class="btn btn-default large btn-block" target="_blank" href="https://secure.perspectives.org/civicrm/contribute/transact?id=31">DONATE</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
