<div class="container">
  <div class="row">
    <div class="wow animated fadeInLeft align-center">
        <h2>GRACE FELLOWSHIP CHURCH</h2>
      <h3 class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
        "Grace Fellowship Church is delighted to host the Perspectives National Conference. The Perspectives course is a proven catalyst to propel God’s people forward in discipleship and in engaging in the 'good works' God designed for each of us to do."
        <br>
        <br> -​Jim Gibbs, Elder & Co-Director of International Ministries
      </h3>
    </div>
  </div>
</div>
