<div class="container">
    <h1>Speakers and Sessions</h1>
    <h2>7 plenary sessions, breakout sessions for <br />coordinators, area mobilizers, and instructors.</h2>
    <br>
    <div class="row">

        <div class="col-md-3 col-md-offset-3">
            <a class="btn btn-default btn-block large" target="_blank" href="/assets/content/schedule.pdf"><i class="fa fa-file-pdf-o"></i> SCHEDULE</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-default btn-block large" target="_blank" href="/assets/content/PSP National Conference Breakout Sessions.pdf"><i class="fa fa-file-pdf-o"></i> BREAKOUT SESSIONS</a>
        </div>
    </div>
    <br />
    <br />
    <!-- <hr style="width:40%" /> -->
    <br>
    <br>
    <div class="row align-center">
        <div class="[ col-xs-12 ]" style="padding-bottom: 30px;">
            <uib-tabset active="0" justified="true">
                <uib-tab index="$index" ng-repeat="speaker in speakers" select="selectTab()">
                    <uib-tab-heading>
                        <img class="img-circle" src="/assets/img/avatars/thumbs/{{speaker.id}}.jpg" style="height:130px; width:130px;" />
                        <h3 class="speaker-name" open-modal="{{speaker.id}}" ng-bind-html="speaker.name" style="line-height:20px"></h3>
                    </uib-tab-heading>
                    <br /><br />
                    <div class="tab-inner align-center">
                        <h3 class="speaker-name" open-modal="{{speaker.id}}" style="font-size:45px; margin-top:-20px">
              <a href="#">{{speaker.name | stripbr}}</a>
              <br /><span style="font-size:18px">{{speaker.title}} (<a style="text-decoration:underline; text-transform:none">full bio</a>)</span></h3>
                        <br />
                        <h3 style=" font-size:25px; font-weight:500">Plenary Session Topic<span ng-if="speaker.sessions.length > 1">s</span>:</h3>
                        <div ng-repeat="session in speaker.sessions">
                            <p class="speaker-description" style="font-size:22px">
                                <strong>{{session.title}}: </strong><span ng-bind-html="session.description"></span>
                                <br>
                                <br>
                            </p>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
