<div class="container">
  <div class="row">
    <div class="wow animated fadeInLeft align-center">
      <img src="/assets/img/badge.png">

      <h3 class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
        May God be gracious to us and bless us<br>
    and make his face to shine upon us, Selah<br>
 that your way may be known on earth,<br>
    your saving power among all nations.<br>
Let the peoples praise you, O God;<br>
    let all the peoples praise you!<br>
        <br>
        <br> Psalms 67:1-3
      </h3>
    </div>
  </div>
</div>
