<div class="md-content drewjackson">
  <div class="folio">
    <div class="avatar">
    </div>
    <div class="sp-name">
      <strong>Drew Jackson</strong>
    </div>
    <div class="sp-dsc">
      <h4>Biography</h4>
      <p>
        Originally born in Williamstown, NJ, Drew studied Political Science at the University of Chicago, and went on to gain his M.A. in Theology from Fuller Theological Seminary. It was during his time living on the south side of Chicago that he was burdened to see reconciliation among the broken places of our world. While studying International Relations, Drew was forced to reevaluate the role of the church in a world where violence is the norm and power is the goal. He was convicted that the church must bear witness to a new way of being human, a way of being that does not collude with the status quo. During his seminary years Drew worked as full-time staff with InterVarsity Christian Fellowship, ministering with college students in the Greater Los Angeles area.
      </p>
      <br />
      <p>
        Drew currently serves as Pastor of GraceWay Community Church located on the south side of Bethlehem, PA. He is also the Co-Founder and Executive Director of TR-BE, an organization whose mission is to resource and train local churches and the next generation to confront racially unjust systems and seek reconciliation through the lens of the gospel. He has spoken extensively on college campuses and at churches about God’s heart for the reconciliation of all things, and our call to partner with God in this work. He is passionate about leading those in the work of reconciliation to see the necessity of moment by moment abiding union with Christ in order to be sustained in the work of justice and reconciliation.
      </p>
      <br />
      <p>
        He is blessed to share life with his wife Genay, and their twin daughters, Zora and Suhaila.
      </p>
      <br />
    </div>
    <button class="md-close" ng-click="close()">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
