<div class="md-content jamesmason">
  <div class="folio">
    <div class="avatar">
    </div>
    <div class="sp-name">
      <strong>James Mason</strong>
      <br> Director
    </div>
    <div class="sp-dsc">
      <h4>Biography</h4>
      <p>
        James began following Jesus as a child and as a young adult became involved in youth and college campus ministry. After receiving a BS in education from the University of New Mexico and an M-Div. from Denver Seminary, he served as a pastor for 12 years
        in CO, KS and NV. Taking the Perspectives Course in 2004 helped ignite a new found understanding and passion to see God's glory established among all peoples on earth. He is now on staff with Frontier Ventures in Pasadena, CA where he serves as
        the US National Director for the Perspectives Study Program.
      </p>
      <br />
      <p>
        He’s been married to Kelly for 25 years and they have 3 precious children. Together they are passionate to see God’s purposes lived out through their family for the sake of the nations. James has apostolic passion and is gifted in leadership, helps, and
        teaching. He is especially invigorated when churches and followers of Jesus are awakened to God’s purposes and then grow in strategic involvement that leads to breakthroughs of the Kingdom.
      </p>
      <br />
    </div>
    <button class="md-close" ng-click="close()">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
