<div class="md-content johnlo">
  <div class="folio">
    <div class="avatar">
    </div>
    <div class="sp-name">
      <strong>John Lo</strong>
      <br>
    </div>
    <div class="sp-dsc">
      <h4>Biography</h4>
      <p>
        John was led to pastoral ministry in his quest to help people. During his 13 years with FEC Glendale (Epicentre’s mother church), John served as youth pastor for 8 years and as young adult pastor for 5 years before planting Epicentre Church in 2003. Over the years, he has become increasingly gripped by God’s love for people of all nations and unabashedly inspires and equips people toward God-sized destinies. As a visionary leader, John’s primary role is preaching & teaching, leading new initiatives, and igniting strategic, apostolic leaders. John has both a M.Div. and a Doctorate of Ministry from Fuller Theological Seminary. John and his wife Evelyn live in Glendale, where they enjoy really good sushi and time at the beach. Their son, Josh, is a sophomore at Baylor University.
      </p>
    </div>
    <button class="md-close" ng-click="close()">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
