<div class="md-content maryho">
  <div class="folio">
    <div class="avatar">
    </div>
    <div class="sp-name">
      <strong>Mary Ho</strong>
      <br>
    </div>
    <div class="sp-dsc">
      <h4>Biography</h4>
      <p>
        Mary Ho is currently the Executive Director of All Nations Family, a cross-cultural church planting and missions training and sending organization based out of Kansas City, Missouri. She and her husband John Ho serve on the All Nations International Leadership Team. Mary Ho is also currently pursuing a Doctor of Strategic Leadership degree at Regent University, Virginia Beach.
      </p>
      <br /><p>
        Mary Ho served as editor and managing editor with the Government Information Office, Taiwan, and has written and edited several publications, including The Republic of China Yearbook, 1991 to 1995 editions. She then served for more than four years in World Vision Taiwan and World Vision Hong Kong. In World Vision Taiwan, Mary was the Manager of the International Ministry Department.  She received her M.A. in Communications and B.A. from the University of Michigan, Ann Arbor.
      </p><br />
      <p>
        Born in Taiwan and raised on four continents, Mary has lived in Swaziland, Taiwan, Indonesia, New Zealand, Philippines, Hong Kong, and the U.S., and has travelled extensively. John and Mary moved from Hong Kong to Kansas City in 2000.
      </p><br />
      <p>
        Mary is married to John Ho, a bi-vocational architect. They have two boys, ages 20 and 15.
      </p>
    </div>
    <button class="md-close" ng-click="close()">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
