<div class="md-content perrin">
  <div class="folio">
    <div class="avatar">
    </div>
    <div class="sp-name">
      <strong>Bishop Perrin</strong>
    </div>
    <div class="sp-dsc">
      <h4>Biography</h4>
      <p>
        Over the course of his ministry, he has served as a chaplain for Tom Skinner Associates at Howard University. He has pastored four churches and is presently the Senior Pastor of Christ Kingdom Church of District Heights, Maryland. Bishop Perrin is a graduate of Carnegie Mellon University, Pittsburgh, Pennsylvania, (B.F.A); and Gordon-Cornwell Theological Seminary, South Hamilton, MA, (M.T.S.). He has also done Doctoral work at the Howard University School of Communications (A.B.D), Washington, DC.
      </p>
      <br />
      <p>
        In 1998, Bishop Perrin was appointed president of Great Commission Global Ministries (GCGM), a ministry committed to “Networking, Equipping and Mobilizing African Americans for mission.” He is honored and pleased to serve as the Vice Chair Person of the SIM USA Board of directors. SIM is a global mission with over 2000 people from 50 different nations serving 65 countries.
      </p>
      <br />
    </div>
    <button class="md-close" ng-click="close()">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
