<div class="md-content stevehawthorne">
  <div class="folio">
    <div class="avatar">
    </div>
    <div class="sp-name">
      <strong>Steve Hawthorne</strong>
      <br>
    </div>
    <div class="sp-dsc">
      <h4>Biography</h4>
      <p>
        Steve Hawthorne serves as the director of WayMakers, a prayer and mission mobilization organization in Austin, Texas. He's the author of the widely used prayer guide called Seek God for the City. After co-editing the course and the book Perspectives on the World Christian Movement in 1981, he launched “Joshua Project,” a series of research expeditions among unreached peoples in world class cities. He co-authored, with Graham Kendrick, the book Prayerwalking: Praying On-Site With Insight. He has helped leaders in numerous cities unite and sustain life-giving prayer for entire communities. With humor and seasoned wisdom, he speaks with living passion for the greater glory of Jesus. He says of his ministry, “I like to commit arson of the heart.”
      </p>
    </div>
    <button class="md-close" ng-click="close()">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
