<div class="md-content yvonne">
  <div class="folio">
    <div class="avatar">
    </div>
    <div class="sp-name">
      <strong>Yvonne Huneycutt</strong>
    </div>
    <div class="sp-dsc">
      <h4>Biography</h4>
      <p>
        Yvonne's varied career experience includes the corporate world, local church ministry, mission ministry, and managing a non-profit organization. She has worked with the Perspectives movement for 25 years as a local class coordinator, regional director, instructor, author and Perspectives Global trainer. Yvonne was on staff with the U.S. Center for World Mission (now Frontier Ventures) as a Regional Director in Nashville, Tennessee from 1995-2003. Her overseas field experience includes one year in Russia and numerous short-term trips into over 35 nations.
      </p>
      <br />
      <p>
        Yvonne resides in Round Rock, Texas with her husband Dr. Steve Huneycutt. She remains active as a Perspectives instructor and global trainer, and her most recent project is serving as director and editor of the remake of the Perspectives videos. She holds a Master of Divinity from Southwestern Baptist Theological Seminary and a Doctor of Ministry in Missions and Cross-Cultural Studies from Gordon-Conwell Theological Seminary.
      </p>
    </div>
    <button class="md-close" ng-click="close()">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
