@import 'variables';
@import 'bootstrap'; // @import 'bootstrap/theme';
@import 'fonts/fonts';
@import 'font-awesome';
@import 'animate';
@import 'schedule';
@import 'panel';
@import 'styles';
@import 'queries';
@import 'custom-styles';

@import './buttons';
@import './avatars';

section {
    .section-padding {
        padding-top: 6%;
        padding-bottom: 6%;
    }
}
