div.avatar {
    margin: 0 auto;
}
.md-modal .avatar {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-size: cover;
}
.speaker {
    .nav > li > a {
        padding: 0;
    }
    .avatar {
        width: 400px;
        background-size: 100%;
    }
}
.jamesmason .avatar {
    background-image: url("/assets/img/avatars/jamesmason.jpg");
    background-position: top center;
}
.johnlo .avatar {
    background-image: url("/assets/img/avatars/johnlo.jpg");
}
.stevehawthorne .avatar {
    background-image: url("/assets/img/avatars/stevehawthorne.jpg");
}
.maryho .avatar {
    background-image: url("/assets/img/avatars/maryho.jpg");
    background-position: center -10px;
}
.yvonne .avatar {
    background-image: url("/assets/img/avatars/yvonne.jpg");
}
.drewjackson .avatar {
    background-image: url("/assets/img/avatars/drewjackson.jpg");
}

.perrin .avatar {
    background-image: url("/assets/img/avatars/perrin.jpg");
}
