
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all 0.5s;
    .btn-primary {
        color: #428bca;
    }
    .btn-success {
        color: #5cb85c;
    }
    .btn-info {
        color: #5bc0de;
    }
    .btn-warning {
        color: #f0ad4e;
    }
    .btn-danger {
        color: #d9534f;
    }
    :hover {
        color: #fff;
    }
}
